build
.gradle
.nb-gradle
.nb-gradle-properties   
target
gradle-app.settings

# DLect files
DLect.dat
timings.txt
output.txt


# OS Specifics - From https://github.com/github/gitignore/blob/master/Global/
.DS_Store
._.DS_Store
*DS_Store*
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini


# Override the exclude of anything in a src directory.
#!src